
.App {
  color: white;
}
.panel-footer {
  background-color: #484D4D;
}
.panel {
  border-color: #ddd;
}
.topTxt {
  color: black;
}
.large {
  height: 150px;
  border: 0px;
}
.panel-footer {
  border-top: 0px;
}
.small {
  height: 50px;
  border: 0px;

}
.small h6 {
  margin-top: 0px;
}
