html, body, #root {
  height: 100%;
}
.App {
  background-color: #E9E9ED;
  height: 100%;
}

.App-intro {
  font-size: large;
}
.header a {
  color: white;
  padding-left: 20px;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}
.header i {
  padding-left: 20px;
  margin-top: 20px;
  padding-bottom: 50px;
}
.page-wrap {
  margin-top: -50px;
}
.cards {
    border: 1px #ddd;
    height: 250px;
    background-color: white;
    margin-bottom: 20px;

}
.cards img {
  width: 70px;
  height: 70px;
  text-align: center;
}

.col-sm-9 img {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}
